<% layout("/layouts/alwayInclude") %>

<main>
    <section id="updates">
      <h2>Live Updates</h2>
      <p id="location">Location: Loading...</p>
      <p id="humidity">Humidity: Loading...</p>
      <p id="temperature">Temperature: Loading...</p>
      <p id="status">Status: Loading...</p>
    </section>
    <section id="controls">
      <h2>Controls</h2>
      <button onclick="refreshData()">Refresh Data</button>
      <button onclick="locateUmbrella()">Find My Umbrella</button>
    </section>
  </main>